<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.zenwave360" level="debug"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</plugin>
