name: Publish to Maven Central
on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to check out'
        required: true
        default: 'main'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.tag || github.event.release.tag_name }}

      - name: Set up Java for publishing to Maven Central Repository
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

#      - name: Enforce Release Version
#        run: mvn enforcer:enforce@enforce-release-version

      - name: Publish to the Maven Central Repository
        run: mvn --batch-mode deploy -DdeployAtEnd=true -Dmaven.javadoc.skip=false
        env:
          MAVEN_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.CENTRAL_TOKEN }}
          SIGN_KEY: ${{ secrets.SIGN_KEY }}
          SIGN_KEY_PASS: ${{ secrets.SIGN_KEY_PASS }}

      - name: Checkout badges branch to a badges directory nested inside first checkout
        uses: actions/checkout@v2
        with:
          ref: badges
          path: badges

      - name: Generate JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2
        with:
          badges-directory: badges
          generate-branches-badge: true
          generate-summary: true
          jacoco-csv-file: >
            ./plugins/asyncapi-spring-cloud-streams3/target/site/jacoco/jacoco.csv
            ./plugins/java-to-jdl/target/site/jacoco/jacoco.csv
            ./plugins/java-to-asyncapi/target/site/jacoco/jacoco.csv
            ./plugins/backend-application-default/target/site/jacoco/jacoco.csv
            ./plugins/openapi-controllers/target/site/jacoco/jacoco.csv
            ./plugins/zdl-to-openapi/target/site/jacoco/jacoco.csv
            ./plugins/jdl-to-asyncapi/target/site/jacoco/jacoco.csv
            ./plugins/zdl-to-asyncapi/target/site/jacoco/jacoco.csv
            ./plugins/zdl-to-markdown/target/site/jacoco/jacoco.csv
            ./plugins/openapi-spring-webtestclient/target/site/jacoco/jacoco.csv
            ./plugins/openapi-karate/target/site/jacoco/jacoco.csv
            ./plugins/zenwave-mcp-server/target/site/jacoco/jacoco.csv
            ./zenwave-sdk-cli/target/site/jacoco/jacoco.csv
            ./plugins/customizations/kotlin-backend-application/target/site/jacoco/jacoco.csv

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Packs Jacoco Reports
        run: |
          rm -rf badges/jacoco
          mkdir -p badges/jacoco
          echo "GROUP,PACKAGE,CLASS,INSTRUCTION_MISSED,INSTRUCTION_COVERED,BRANCH_MISSED,BRANCH_COVERED,LINE_MISSED,LINE_COVERED,COMPLEXITY_MISSED,COMPLEXITY_COVERED,METHOD_MISSED,METHOD_COVERED" > badges/jacoco-report.csv
          find -name 'jacoco.csv' -exec sed '1d' {} \; >> badges/jacoco-report.csv
          tar -c `find -name jacoco.csv` `find -name jacoco.exec` `find -name jacoco.xml` | tar -C badges/jacoco -x


      - name: Commit and push the coverage badges and summary file
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          echo $(ls -l)
          TAG_NAME=${{ github.event.release.tag_name || github.run_id }}
          cd badges
          if [[ `git status --porcelain` ]]; then
            git config --global user.name 'github-agit pctions'
            git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git add *.svg *.json jacoco-report.csv jacoco/*
            git commit -m "coverage = ${{ steps.jacoco.outputs.coverage }} branches = ${{ steps.jacoco.outputs.branches }}" *.svg *.json jacoco-report.csv jacoco/*
            git push
            git tag coverage_badges_${TAG_NAME}
            git push --tags
          fi
